.text-view {
  &--icon {
    align-items    : center;
    margin         : 10px 0;
    display        : flex;
    gap            : 10px;

    span {
      color    : $tertiary-color;
      font-size: $fs-x-small;
    }
  }

  &--label {
    color      : $tertiary-color;
    line-height: calc(25/14);
    font-size  : $fs-x-small;
    font-weight: $fw-medium;
  }
}
