.upload {
  margin     : 0 0 10px 12px;
  align-items: flex-end;
  display    : flex;
  gap        : 10px;


  &__avatar {
    width      : 95px;
    height     : 95px;
    line-height: 95px;

    .avatar__initial {
      color    : rgba(255, 255, 255, 0.5);
      font-size: 50px;
    }
  }

  &__label {
    color        : $primary-color;
    font-weight  : $fw-medium;
    font-size    : $fs-small;
    position     : relative;
    cursor       : pointer;
    align-items  : center;
    display      : flex;
    padding      : 12px;
    gap          : 5px;
    margin-bottom: 4px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  &__input {
    position: absolute;
    cursor  : pointer;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    opacity : 0;
  }

  &__error {
    font-weight: $fw-medium;
    margin-left: 10px;
    color: #ff0000;
    font-size: 14px;
  }
}