.modal {
  background-color: rgba(235, 237, 240, 0.6);
  position        : fixed;
  width           : 100%;
  height          : 100%;
  z-index         : 9999;
  top             : 0;
  left            : 0;

  &__wrapper {
    @extend .common-modal;
  }

  &--submit {
    width : 351px;
    height: 120px;
  }

  &--confirm {
    width : 250px;
    height: 128px;
  }

  &__header--submit {
    justify-content: space-between;
    padding        : 10px 20px;
    align-items    : center;
    display        : flex;

    span {
      line-height: $lh-xl-medium;
    }
  }

  &__header--confirm {
    border-top : 5px solid $primary-color;
    line-height: calc(20/16);
    padding    : 6px 16px;
    text-align : center;
  }

  &__body--submit {
    padding: 5px 0;
    display: flex;
    gap    : 12px;

    input[type=text] {
      border       : 1px solid #ccc;
      margin-left  : 20px;
      width        : 58%;
      padding      : 8px;
      border-radius: 3px;

      &:focus {
        border : 1px solid $turquoise-blue;
        outline: $turquoise-blue;
      }
    }
  }

  &__body--confirm {
    padding   : 0 16px;
    text-align: center;

    p {
      font-size  : $fs-x-small;
      line-height: calc(20/14);
      font-weight: $fw-normal;
      margin     : 0 auto;
    }
  }

  &__footer {
    padding        : 10px 12px 12px;
    justify-content: center;
    display        : flex;
    gap            : 10px;
  }

  &__error {
    font-size  : $fs-x-small;
    font-weight: $fw-medium;
    margin     : 10px 20px;
    color      : #ff0000;
  }
}
