/* Common color begin*/
$primary-color  : #1CA1C1;
$secondary-color: #fff;
$tertiary-color : #313131;
/* Common color end*/

/* Text color begin*/
$text-primary  : #475466;
$text-secondary: #55cd97;
$text-tertiary : #ff6455;
/* Text color end*/

/* Background color begin */
$bg-primary-color  : #d4ede5;
$bg-secondary-color: #ffdedb;
/* Background color end */

/* Font size begin*/
$fs-x-small: 14px;
$fs-small  : 16px;
$fs-medium : 20px;
/* Font size end*/

/* Line height begin*/
$lh-xl-medium: calc(32 / 16);
/* Line height end*/

/* Font weight begin*/
$fw-normal : 400;
$fw-medium : 500;
$fw-bold   : 700;
/* Font weight end*/

/* Font family begin*/
$primary-font: "Roboto";
/* Font family end*/