.main {
  height         : calc(100% - 60px);
  position       : relative;
  background     : #ebedf0;
  justify-content: center;
  display        : flex;
}

.content__wrapper {
  padding: 10px;
  width  : 100%;
}
