.btn {
  @extend .common-btn;

  &--primary,
  &--secondary {
    font-weight: $fw-semi-bold;
  }

  &--primary {
    color           : $secondary-color;
    background-color: $primary-color;

    &:hover {
      background-color: #1992af;
    }
  }

  &--secondary {
    color           : $primary-color;
    background-color: #f4f5f9;

    &:hover {
      background-color: #e7e9f2;
    }
  }

  &--size-lg {
    padding: 6px 64px;
  }

  &--size-md {
    padding: 8px 40px;
  }

  &--size-sm {
    padding: 0 30px;
  }

  &__drawer {
    border: 1px solid $primary-color;
    margin: 18px 0 0 14px;
  }

  &__save {
    font-weight: $fw-medium;
    font-size  : $fs-small;
  }


  &__cancel,
  &__delete {
    font-size  : $fs-small;
    padding    : 6px 25px;
    font-weight: $fw-semi-bold;
  }

  &__remove {
    padding: 7px 35px;
  }

  &__store {
    padding: 7px 40px;
  }

  &__text {
    font-size  : $fs-small;
    font-weight: $fw-bold;
  }
}