.btn {
  @extend .common-btn;

  &--primary,
  &--secondary {
    font-weight: $fw-semi-bold;
  }

  &--primary {
    color           : $secondary-color;
    background-color: $primary-color;

    &:hover {
      background-color: #1992af;
    }
  }

  &--secondary {
    color           : $primary-color;
    background-color: #f4f5f9;

    &:hover {
      background-color: #e7e9f2;
    }
  }

  &--size-lg {
    padding: 6px 61px;
  }

  &--size-md {
    padding: 6px 34px
  }

  &--size-sm {
    padding: 6px 26px;
  }

  &--save {
    padding: 7px 30px;
  }

  &--remove,
  &--store {
    padding: 7px 34px;
  }

  &.disabled {
    background-color: $bg-tertiary-color;
    cursor          : not-allowed;
    color           : #94a1b3;
  }
}
