.view-details {
  background    : $secondary-color;
  flex-direction: column;
  display       : flex;
  gap           : 20px;
  margin        : 10px;
  padding       : 12px;
  width         : 50%;

  &__header {
    border-bottom  : 1px solid #dadee0;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
    padding-bottom : 10px;
  }

  &__avatar {
    margin: 0 auto;
    width : 180px;
    height: 180px;
  }

  &__username {
    color      : $tertiary-color;
    font-size  : $fs-x-small;
    font-weight: $fw-medium;
    text-align : center;
  }

  &--icon {
    align-items  : center;
    display      : flex;
    gap          : 10px;
    margin-bottom: 10px;

    span {
      font-size: $fs-x-small;
      color    : #313131;
    }
  }

  &__text {
    margin     : 0 0 10px 25px;
    color      : $text-primary;
    font-size  : $fs-x-small;
    font-weight: $fw-normal;
    display    : block;
  }
}