.textarea {
  border       : 1px solid #DADEE0;
  border-color : #CCD7E6;
  padding      : 5px 12px;
  max-width    : 286px;
  height       : 122px;
  width        : 100%;
  resize       : none;
  outline      : none;
  cursor       : auto;
  border-radius: 2px;

  &:focus {
    border: 1px solid $primary-color;
  }
}