.textarea {
  border       : 1px solid $border-primary-color;
  border-color : #ccd7e6;
  padding      : 5px 12px;
  max-width    : 286px;
  height       : 122px;
  width        : 100%;
  resize       : none;
  outline      : none;
  cursor       : auto;
  border-radius: 2px;

  &:focus {
    border: 1px solid $primary-color;
  }
}
